{% extends 'base.html' %}

{% block content %}
<h1>Orders</h1>
<form class="row g-3" method="post">
    {% csrf_token %}
    <div class="col-auto">
        <label for="search" class="visually-hidden">Search</label>
        <input type="text" class="form-control" id="search" placeholder="..." name="brand">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Total Price</th>
        <th scope="col">WIN</th>
        <th scope="col">Brand</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.total_price }}</td>
        <td>{{ order.vehicle.win_number }}</td>
        <td>{{ order.vehicle.model.brand }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}